<ion-view view-title="About">
  <ion-content>
   <div class="card">
      <div class="item item-text-wrap">
         <p><b>The Game of Life</b>, also known simply as <b>Life</b>, is a cellular automaton devised by the British mathematician John Horton Conway in 1970.</p><br>
        <p>The "game" is a zero-player game, meaning that its evolution is determined by its initial state, requiring no further input. One interacts with the Game of Life by creating an initial configuration and observing how it evolves, or, for advanced "players", by creating patterns with particular properties.</p><br>
        <p>The universe of the Game of Life is an infinite two-dimensional orthogonal grid of square cells, each of which is in one of two possible states, alive or dead, or "populated" or "unpopulated". Every cell interacts with its eight neighbours, which are the cells that are horizontally, vertically, or diagonally adjacent. At each step in time, the following transitions occur:</p>
        <ul class="list">
          <li class="item">Any live cell with fewer than two live neighbours dies, as if caused by underpopulation.</li>
          <li class="item">Any live cell with two or three live neighbours lives on to the next generation.</li>
          <li class="item">Any live cell with more than three live neighbours dies, as if by overpopulation.</li>
          <li class="item">Any dead cell with exactly three live neighbours becomes a live cell, as if by reproduction.</li>
        </ul>

      </div>
    </div>
  </ion-content>
</ion-view>
