<ion-view view-title="About">
  <ion-content>
   <div class="card">
      <div class="item item-text-wrap">
         <p>This app is a version of Conway's <a href="https://en.wikipedia.org/wiki/Conway's_Game_of_Life">Game of Life</a>, a 0-player game that simulates the evolution of a population. Each cell represents a living creature. Overpopulation or underpopulation will cause a cell to die, while ideal conditions will cause a cell to come to life. Once the initial conditions are set, watch as generations respond and patterns emerge. </p>
         <button class="button button-outline button-balanced">
  Play
</button>
      </div>
    </div>
  </ion-content>
</ion-view>
