.gc-border {
  border: 1px solid #bfbfbf;
}

.gc-alive {
  background-image: url('../img/zsazsa.png');
}

.gc-full-size {
  width: 100% !important;
  height: 100% !important;
  border: none;
}

.gc-no-padding {
  padding: 0 0;
}
