.gc-border {
  border: 1px solid #bfbfbf;
}

.gc-alive {
  background-color: #9966ff;
}

.gc-full-size {
  width: 100% important!;
  height: 100% important!;
  border: none;
}

.gc-no-padding {
  padding: 0 0;
}
